<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/logo123.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />    
    <link rel="apple-touch-icon" href="/logo123.png" />
    <meta name="robots" content="INDEX, FOLLOW">
    {{#if DESCRIPTION}}
    <meta name="description" content="{{ DESCRIPTION }}">
    {{else}}
    <meta name="description" content="Nhà phân phối Xuân Dũng,Bàn cầu JOJOBA,bồn cầu,bồn cầu jojoba,Bàn cầu nhập khẩu,Bàn cầu sứ cao cấp,Bàn cầu Đài Loan,Thiết bị nhà vệ sinh,Thiết bị nhà tắm,Thiết bị nhà bếp, máy nước nóng,Toilet,Porcelain toilet,Dũng vòi,Dũng inox">
    {{/if}}

    <meta property="og:title" itemprop="name" content="Nhà phân phối Xuân Dũng">
    <meta property="og:description" itemprop="description" content="Chuyên cung cấp các thiết bị vệ sinh, bàn cầu, lavabo"/>


    {{#if KEYWORDS}}
    <meta name="keywords" content="{{ KEYWORDS }}">
    {{else}}
    <meta name="keywords" content="Cần Thơ,Xuân Dũng rosta,JOJOBA,Rosta,Caesar,Greenlife,bàn cầu,lavabo,bồn tắm,sen tắm,gương soi">
    {{/if}}

    <meta name="author" content="bạn Hòa thần tài">
    
    
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>{{ title }}</title>

    <link rel="canonical" href="/products/p" />

    <!-- Google Font -->
    {{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-REPLACE_WITH_YOUR_INTEGRITY_HASH" crossorigin="anonymous" /> --}}
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap";rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/custom.css" type="text/css">
    <script src="/js/jquery-3.3.1.min.js" ></script>
</head>

<body>

    {{{ body }}}
    
    <script src="/js/bootstrap.min.js" ></script>
    <script src="/js/jquery.magnific-popup.min.js" ></script>
    <script src="/js/jquery-ui.min.js" ></script>
    <script src="/js/mixitup.min.js" ></script>
    <script src="/js/jquery.countdown.min.js" ></script>
    <script src="/js/jquery.slicknav.js" ></script>
    <script src="/js/owl.carousel.min.js" ></script>
    <script src="/js/jquery.nicescroll.min.js" ></script>
    <script src="/js/main.js" ></script>
</body>

</html>