{{>admin_header}}

<div class="midde_cont">
    <div class="container-fluid">
        <div class="row column_title">
            <div class="col-md-12">
                <div class="page_title">
                    <h2>ĐƠN HÀNG</h2>
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row">
            <!-- invoice section -->
            <div class="col-md-12">
                <div class="white_shd full margin_bottom_30">
                    <div class="full graph_head">
                        <div class="heading1 margin_0">
                            <h2 id="order_id" order_id="{{ order.order_id }}"><i class="fa fa-file-text-o" > </i> {{ order.order_id }}</h2>
                        </div>
                    </div>
                    <div class="full">
                        <div class="invoice_inner">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="full invoice_blog padding_infor_info padding-bottom_0">
                                        <h4>Từ</h4>
                                        <p><strong>Administrator</strong><br>
                                            130B2 KV2, P.An Khánh, Q.Ninh Kiều, TP.Cần Thơ, 
                                            Việt Nam<br>
                                            <strong>Phone : </strong><a href="tel:0907079559">09-0707-9559</a><br>
                                            <strong>Email : </strong><a
                                                href="mailto:cskh@xuandung.com.vn">cskh@xuandung.com.vn</a>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="full invoice_blog padding_infor_info padding-bottom_0">
                                        <h4>Đến</h4>
                                        <p><strong>{{ order.order_by_full_name }}</strong><br>
                                            130B2 KV2, P.An Khánh, Q.Ninh Kiều, TP.Cần Thơ
                                            <br>
                                            <strong>Phone : </strong><a href="tel:9876543210">9876 543 210</a><br>
                                            <strong>Email : </strong><a
                                                href="mailto:yourmail@gmail.com">banh.thiorder@gmail.com</a>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="full invoice_blog padding_infor_info padding-bottom_0">
                                        <h4>Đơn hàng</h4>
                                        <p><strong>Số: </strong>{{ order.order_id }}<br>
                                            <strong>Ngày đặt: </strong>{{ order.create_at }}<br>
                                            <strong>Tài khoản : </strong>banh.thiorder@gmail.com
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="full padding_infor_info">
                        <div class="table_row">

                            <div class="table__btn__group">
                                <div class="table__btn__container">
                                    <button class="table__btn"  data-toggle="modal" data-target="#myModal">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Mã sản phảm</th>
                                            <th>Tên sản phẩm</th>
                                            <th class="text-center">Số lượng</th>                                           
                                            <th>Đơn giá</th>
                                            <th>Tổng</th>
                                            <th>Trạng thái</th>
                                            <th style="width: 128px">Thao tác</th>
                                        </tr>
                                    </thead>
                                    <tbody id="products">
                                        {{#each products }}
                                        <tr>
                                            <td>{{ product_id }}</td>
                                            <td>{{ product_name }}</td>
                                            <td class="text-center">{{ quantity }}</td>
                                            <td>{{ sold_price }}</td>
                                            <td>{{ subtotal }}</td>
                                            {{#if in_stock }} <td>Còn hàng</td> {{else}} <td>Hết hàng</td> {{/if}}
                                            <td>
                                                <div class="d-flex">
                                                    <a class="table__icon order__product__edit__icon" data="{{ product_id }}"><i class="fa fa-edit"></i></a>
                                                    <a class="table__icon table__delete__icon order__product__delete__icon" data="{{ product_id }}"><i class="fa fa-trash"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row">            
            <div class="col-md-6">
                <div class="full white_shd">
                    <div class="full graph_head">
                        <div class="heading1 margin_0">
                            <h2>Total Amount</h2>
                        </div>
                    </div>
                    <div class="full padding_infor_info">
                        <div class="price_table">
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th style="width:50%">Sản phẩm: </th>
                                            <td>{{#formatPrice order.total }}{{/formatPrice}}</td>
                                        </tr>                                        
                                        <tr>
                                            <th>Phí vận chuyển: </th>
                                            <td>{{#formatPrice order.shipping_fee }}{{/formatPrice}}</td>
                                        </tr>
                                        <tr>
                                            <th>Tổng đơn</th>
                                            <td>{{#formatPrice order.final_cost }}{{/formatPrice}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{>select_product }}

{{>admin_footer}}