<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__close">+</div>
    <ul class="offcanvas__widget">
        <li><span class="icon_search search-switch"></span></li>
        <li><a href="#"><span class="icon_heart_alt"></span>
                <div class="tip">2</div>
            </a></li>
        <li><a href="#"><span class="icon_bag_alt"></span>
                <div class="tip">2</div>
            </a></li>
    </ul>
    <div class="offcanvas__logo">
        <a href="/l"><img src="/img/logo.png" alt=""></a>
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__auth">
        <a href="#">Login</a>
        <a href="#">Register</a>
    </div>
</div>


<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-lg-2">
                <div class="header__logo text-center">
                    <a href="/">
                        <img src="/img/logo.png" alt="" />
                    </a>
                </div>
            </div>
            <div class="col-xl-6 col-lg-7">
                <nav class="header__menu">
                    <ul id="navbar-menu">
                        {{#if (eq active_position 0 )}}
                        <li class="active">
                            {{else }}
                        <li>
                            {{/if}}
                            <a href="/">Trang chủ</a>
                        </li>



                        {{#if (eq active_position 1 )}}
                        <li class="active">
                            {{else }}
                        <li>
                            {{/if}}
                            <a href="/products">Sản phẩm</a>
                            <ul class="dropdown">
                                {{#each cates }}
                                <li>
                                    <a href="/products/cate/{{ ma_dong }}">{{ ten_dong }}</a>
                                </li>
                                {{/each}}
                                
                            </ul>
                        </li>
                        <li>
                            <a href="/">Tin tức</a>
                        </li>
                        {{!-- <li>
                            <a href="/u/cart">Giỏ hàng</a>
                            <ul class="dropdown">

                                <li>
                                    <a href="/u/cart">Giỏ hàng</a>
                                </li>

                                <li>
                                    <a href="/u/checkout">Thanh toán</a>
                                </li>

                                <li>
                                    <a href="/u/orders">Lịch sử mua hàng</a>
                                </li>

                            </ul>
                        </li> --}}
                        <li>
                            <a href="/contact">Liên hệ</a>
                        </li>

                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__right">
                    {{#if auth }}
                    <div class="header__right__auth">
                        {{!-- <a href="#">{{ auth.ho }} {{ auth.ten }}</a> --}}

                        <nav class="header__menu auth__navigator" style="padding: 0;">
                            <ul id="navbar-menu">

                                <li>
                                    <a href="#">{{ auth.ho }} {{ auth.ten }}</a>
                                    <ul class="dropdown">

                                        <li>
                                            <a href="/u/cart">Hồ sơ của tôi</a>
                                        </li>

                                        <li>
                                            <a href="/u/cart">Giỏ hàng</a>
                                        </li>

                                        <li>
                                            <a href="/u/checkout">Thanh toán</a>
                                        </li>

                                        <li>
                                            <a href="/u/orders">Lịch sử mua hàng</a>
                                        </li>

                                        <li>
                                            <a href="/u/signout">Đăng xuất</a>
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                        </nav>
                    </div>


                    {{else}}
                    <div class="header__right__auth">
                        <a href="/u/login">Đăng nhập</a>
                        <a href="/u/signup">Đăng ký</a>
                    </div>

                    {{/if}}
                    <ul class="header__right__widget">
                        <li>
                            <span class="icon_search search-switch"></span>
                        </li>                        
                        <li>
                            <a href="/u/cart">
                                <span class="icon_bag_alt"></span>
                                <div class="tip">2</div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="canvas__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>